<dl class="sub-nav">
  <dt>Select:</dt>
  <dd><%= link_to "Media", media_path %></dd>
  <dd><a href="#">Active</a></dd>
  <dd><a href="#">Pending</a></dd>
  <dd class="hide-for-small-only"><a href="#">Suspended</a></dd>
</dl>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
